{% extends 'layout.html.twig' %}

{% block title %}Création de catégorie{% endblock %}

{% block content %}

<h1 class="m-3">Ajouter une catégorie</h1>

    {{ form(formCategorie) }}
    
{% endblock %}
